<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Android Keypad testing</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <style>
        *{
            background: black;
            color: white;
        }
        small{
            color: rgb(238, 85, 38);
        }
        strong{
            color: red;
        }
    </style>
</head>
<body> 
<div id="app">
    <h1>Fixing Android keypress/27052020 v</h1>
    <hr>

    <h3>Input Box 1</h3>
   <input id="input1" v-model="inputData1"  @keypress="keyPressCheck($event)" type="text"> <small v-if="showReqPass1" >req1</small> <br>
   <strong v-if="wrongpass1">Wrong Pass1</strong>
   <br>
   <button @click="handle1">Press1</button>
   <br>
   <br>
   
   <h3>Input Box 2</h3>
   <input id="input2" v-model="inputData2"   @keypress="keyPressCheck($event)"  type="text"> <small  v-if="showReqPass2">req2</small> <br>
   <strong  v-if="wrongpass2">Wrong Pass2</strong>
   <br>
   <button @click="handle2">Press2</button>
       
</div>
    <script src="app.js"></script>

    <script>
     
    </script>
</body>
</html>